#header {
	height: 130px;
	background-color: #822;
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #822),
	    color-stop(1, #e22)
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    #e22 0%,
	    #822 100%
	);
}

#header-inner {
	width: 800px;
	margin: 0 auto;
	height: 150px;
	position: relative;
}

h1 {
	color: white;
	font-size: 3.5em;
	padding: 25px 0;
	margin: 0;
}

h2 {
	font-size: 1.4em;
	font-weight: normal;
	color: #822;
}

h3 {
	font-size: 1.1em;
	color: #555;
}

#nav {
	position: absolute;
	bottom: 0px;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	height: 41px;
}

#subnav {
	margin: 0;
	padding: 25px 0 0 0;
	font-size: 0.8em;
}

#subnav > li {
	list-style: none;
	display: inline;
}

#subnav > li a {
	background-color: #eee;
	border: 1px solid #ccc;
	border-left: none;
	padding: 5px 10px;
	text-decoration: none;
	color: #555;
}

#subnav > li:first-child a {
	border-left: 1px solid #ccc;
}

#subnav > li a.selected, #subnav > li a:hover {
	background-color: #ccc;
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #bbb),
	    color-stop(1, #ccc)
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    #bbb 0%,
	    #ccc 100%
	);
	color: #fff;
}

#subnav > li:first-child a {
	border-radius: 10px 0 0 10px;
}

#subnav > li:last-child a {
	border-radius: 0 10px 10px 0;
}

#subnav > li:first-child:last-child a {
	border-radius: 10px;
}

#nav > li {
	list-style: none;
	padding: 0px 5px;
	display: inline;
}

#nav > li a {
	border-radius: 10px 10px 0 0;
	text-decoration: none;
	padding: 5px 10px;
	background-color: #822;
	color: #fff;
}

#nav > li a.selected, #nav > li a:hover {
	cursor: default;
	background-color: white;
	color: #333;
}

#nav > li a:hover {
	cursor: pointer;
}