#nav {
	float: left;
	width: 20%;
	margin: 0;
	padding: 0;
}

#nav ul {
	margin: 0;
	padding: 0;
	margin-left: 25px;
	font-size: 0.9em;
}

#nav > li {
	list-style: none;
	background: #ddd;
	padding: 5px 10px;
	border-top: 1px solid #fff;
	border-radius: 0 15px 15px 0;
}

#nav li li {
	list-style: none;
}

li a.selected {
	text-decoration: none;
	font-weight: bold;
	cursor: default;
}