#page {
	width: 800px;
	margin: 0 auto;
	min-height: 500px;
	font-size: 0.6em;
	position: relative;
}

img.AjaxLoading {
	position: absolute;
	left: -40px;
	top: 30px;
}

img.AjaxLoading[status="idle"] {
	display: none;
}

.col.wide {
	width: 75%;
	float: left;
}

.col.small {
	width: 25%;
	float: left;
}

.col.very-small {
	width: 15%;
	float: left;
}

.col.very-wide {
	width: 85%;
	float: left;
}

.col > div:not(.msg) {
	margin: 30px;
	margin-left: 0;
}