.dataTable {
	border-spacing: 0;
	width: 100%;
	border-radius: 2px 2px 0 0;
}

.dataTable td {
	padding: 4px 8px;
}

.dataTable th:first-child {
	border-radius: 5px 0 0 0;
}

.dataTable th:last-child {
	border-radius: 0 5px 0 0;
}

.dataTable th {
	padding: 6px 8px;
	background-color: #bbb;
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #aaa),
	    color-stop(1, #bbb)
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    #aaa 0%,
	    #bbb 100%
	);
	color: #fff;
	font-family: Trebuchet MS;
	font-weight: bold;
}

/*
.dataTable tr {
	background-color: #eee;
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #fff),
	    color-stop(1, #ddd)
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    #fff 0%,
	    #ddd 100%
	);
}
*/

.dataTable tr {
	background: #f3f3f3;
}

.dataTable tr td {
	border-bottom: 1px solid white;
}

.dataTable tr:nth-child(odd) {
	background: #e0e0e0;
}

.dataTable tr:nth-child(even) {
	background: #f3f3f3;
}

.dataTable tr:nth-child(odd) td, .dataTable tr:nth-child(even) td {
	border-bottom: none;
}

#news td:first-child {
	font-weight: bold;
	padding-right: 10px;
	text-align: right;
	width: 50px;
}

#news td:last-child {
	text-align: right;
	color: #999;
	font-style: italic;
}
/*
.game-day {
	width: 20px;
}

.game-date {
	width: 140px;
}

.game-time {
	width: 40px;
}
*/

.game-home-team {
	text-align: right;
}
/*
.game-home-team, .game-out-team {
	width: 135px;
}

.game-home-team-pts, .game-out-team-pts {
	width: 20px;
}
*/

.game-home-team-pts {
	text-align: right;
}
	
.game-dash {
	/*width: 5px;*/
	text-align: center;
}

.l {
	text-align: left;
}

.r {
	text-align: right;
}

.c {
	text-align: center;
}

a.bold {
	font-weight: bold;
}

.time {
	color: #777;
	font-size: 0.8em;
}