body, td, button, th {
	font-family: Verdana;
	font-size: 14px;
}

body {
	padding: 0;
	margin: 0;
}

h1, h2, h3 {
	font-family: Trebuchet MS;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
}

h1 {
	font-size: 2.5em;
	padding: 20px;
	background: #333;
	border-bottom: 3px solid #777;
	color: #eee;
}

h2 {
	font-size: 1.5em;
	margin-top: 15px;
	margin-bottom: 10px;
}

h3 {
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 5px;
}

.dataTable {
	border-collapse: collapse;
}

.dataTable td, .dataTable th {
	padding: 3px 10px;
	border: 1px solid #888;
}

.dataTable th {
	background: #888;
	color: white;
}

.panelGrid td {
	vertical-align: top;
}

.panelGrid td.students {
	padding-left: 10px;
}

.panelGrid td.teachers {
	padding-right: 10px;
}

.panelGrid td.students .dataTable,.panelGrid td.teachers .dataTable {
	width: 100%;
}

#nav {
	background: #ddd;
	padding: 20px;
	width: 250px;
	-moz-border-radius-bottomright: 30px;
}

#main {
	padding: 20px;
}

.msg {
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 10px;
	padding: 5px 8px;
}

.error {
	color: #D00;
	border-color: #D00;
	background-color: #FDD;
}

.info {
	color: #0D0;
	border-color: #0D0;
	background-color: #DFD;
}