<?xml version="1.0"?>
<!DOCTYPE view SYSTEM "http://php-movico.googlecode.com/svn/trunk/php-movico/lib/component/dtd/view.dtd">
<composition template="main">
	<define name="title">
		<outputText value="Boggle - Login"/>
	</define>
	<define name="body">
		<form>
			<p>
				<outputLabel for="name" value="Name: "/> 
				<inputText id="name" value="#{BoggleBean.name}" autoFocus="true"/>
			</p>
			<p>
				<outputLabel for="lang" value="Language: "/>
				<selectOneMenu options="#{BoggleConstants.languages}" value="#{BoggleBean.lang}"/>
			</p>
			<ul>
				<li><commandButton action="#{BoggleBean.start}" value="Start Game"/></li>
			</ul>
		</form>
	</define>
</composition>