#boggle .left {
	float: left;
}

#boggle .right {
	float: left;
	padding-left: 25px;
}

#boggle .clear {
	clear: both;
}

#boggle form {
	padding: 5px;
}

#boggle button {
	visibility: hidden;
}

#boggle {
	font-size: 15px;
	font-family: Tahoma, Arial;
}

#boggle .right p {
	font-weight: bold;
	font-size: 17px;	
}

#words {
	text-transform: uppercase;
	font-family: Courier;
}

#boggle input[type=text] {
	text-transform: uppercase;
	font-size: 15px;
	padding: 4px;
}

#boggle-layout {
	background: orange;
	padding: 5px;
	border-radius: 15px;
	box-shadow: 2px 2px 1px #ccc;
}

#boggle-layout td {
	text-align: center;
	width: 50px;
	line-height: 50px;
	font-weight: bold;
	background: white;
	border-radius: 15px;
	margin: 10px;
	box-shadow: 2px 2px 1px #ccc;
	font-size: 18px;
}

.movico-timer span {
	font-size: 35px;
	font-weight: bold;	
}