body, td, button, th {
	font-family: Verdana;
	font-size: 13px;
}

body {
	padding: 0;
	margin: 0;
}

h1, h2 {
	font-family: Trebuchet MS;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
}

h1 {
	font-size: 2.5em;
	padding: 20px;
	background: #333;
	border-bottom: 3px solid #777;
	color: #eee;
}

h2 {
	font-size: 1.5em;
	margin-top: 15px;
	margin-bottom: 10px;
}

#userTable {
	border-collapse: collapse;
}

#userTable td, #userTable th {
	padding: 3px 10px;
	border: 1px solid #888;
}

#userTable th {
	background: #888;
	color: white;
}

#nav {
	background: #ddd;
	padding: 20px;
	width: 250px;
	-moz-border-radius-bottomright: 30px;
}

#main {
	padding: 20px;
}

.msg {
	font-weight: bold;
}

.error {
	color: red;
}

.info {
	color: green;
}