form {
	margin: 0;
	padding: 0;
}

input[type="text"],input[type="password"] {
	border-radius: 3px;
	border: 1px solid #aaa;
	padding: 3px 5px;
	background-color: #eee;
	background-image: -webkit-gradient(
	    linear,
	    left center,
	    right center,
	    color-stop(0, #ddd),
	    color-stop(0.5, #fff)
	);
	background-image: -moz-linear-gradient(
	    left center,
	    #ddd 0%,
	    #fff 50%
	);
	color: #555;
}

label {
	display: block;
}

.label {
	font-weight: bold;
	display: block;
}

#login-email, #login-pass {
	width: 158px;
}

input#club-number {
	width: 40px;
}

input#club-short-name {
	width: 150px;
}

input#club-name {
	width: 200px;
}

input#club-building {
	width: 250px;
}

input#club-distance {
	width: 30px;
}

input#phone, input#mobile {
	width: 130px;
}

input#street {
	width: 200px;
}

input#place {
	width: 150px;
}

input#player-memberNo {
	width: 75px;
}

input#player-startYear {
	width: 50px;
}

input#email {
	width: 150px;
}

input.game-admin-pts {
	width: 30px;
}

textarea.game-admin-review {
	width: 300px;
	height: 100px;
}

.filterContainer {
	margin: 10px;
}

form.filter {
	margin: 0 15px;
	text-align: center;
}

input#news-title {
	width: 200px;
}

select[multiple] {
	height: 150px;
	width: 150px;
}

.MovicoTransferListBox div {
	display: inline-table;
	vertical-align: middle;
}

.MovicoTransferListBox button {
	display: block;
	width: 40px;
	margin: 10px;
}

.MovicoTransferListBoxControls {
	text-align: center;
}