form {
	margin: 0;
	padding: 0;
}

input[type="text"],input[type="password"] {
	border-radius: 5px;
}

label {
	display: block;
}

#login-email, #login-pass {
	width: 100%;
}

input#club-number {
	width: 30px;
}

input#club-short-name {
	width: 150px;
}

input#club-name {
	width: 200px;
}

input#club-distance {
	width: 30px;
}

input#phone {
	width: 130px;
}

input#street {
	width: 200px;
}

input#place {
	width: 150px;
}

input#player-memberNo {
	width: 50px;
}

input#player-startYear {
	width: 40px;
}

input#email {
	width: 150px;
}

input.game-admin-pts {
	width: 30px;
}

textarea.game-admin-review {
	width: 300px;
	height: 100px;
}

.filterContainer {
	margin: 10px;
}

form.filter {
	margin: 0 15px;
	text-align: center;