.msg {
	padding: 4px 7px;
	font-weight: bold;
	font-size: 0.9em;
	border-radius: 2px;
	margin: 15px;
}

.error {
	color: #f33;
	background: #fdd;
	border: 1px solid #f33;
}

.info {
	color: #0c0;
	background: #bfb;
	border: 1px solid #0c0;
}