body {
	color: #555;
	margin: 0;
	padding: 0;
	line-height: 1.35em;
}

body, td, th {
	font-family: Trebuchet MS;
	font-size: 13px;
}

p {
	margin: 3px 0 0 0;
}

form {
	margin: 0;
	padding: 0;
}

.dataTable {
	border-collapse: collapse;
	width: 100%;
}

.dataTable td, .dataTable th {
	padding: 2px 5px;
	border: 1px solid #ccc;
}

.dataTable th {
	padding: 2px 5px;
	background: #ccc;
	color: #fff;
}

#news td:first-child {
	font-weight: bold;
	padding-right: 10px;
	text-align: right;
	width: 50px;
}

#news td:last-child {
	text-align: right;
	color: #999;
	font-style: italic;
}

#gradient {
	position: absolute;
	width: 100%;
	height: 500px;
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #eee),
	    color-stop(1, #fff)
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(189,32,48) 0%,
	    rgb(110,19,29) 100%
	);
	z-index: -5;
}

#wrapper {
	border-radius: 0 0 10px 10px;
	width: 800px;
	margin: 0px auto;
	background: #fff;
}

h1 {
	margin: 5px;
	margin-top: 0;
	border: 1px solid #eee;
	background: #ddd;
	height: 100px;
	line-height: 100px;
	padding: 0 50px;
	border-radius: 0 0 15px 15px;
	font-size: 3em;
}

h2 {
	margin: 1px;
	background: #ddd;
	border: 1px solid #ccc;
	font-size: 1.2em;
	border-radius: 10px;
	padding: 2px 7px;
}

h3 {
	font-size: 1.1em;
	padding: 0;
	margin: 0;
}

#form-button {
	background: #BD2031;
	color: white;
	border-radius: 10px;
	padding: 20px;
	margin-top: 10px;
	text-align: center;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(189,32,48)),
	    color-stop(1, rgb(110,19,29))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(189,32,48) 0%,
	    rgb(110,19,29) 100%
	);
	box-shadow: 3px 3px 7px #888;
	font-size: 1.5em;
}

.col.wide {
	width: 65%;
	float: left;
}

.col.small {
	width: 35%;
	float: left;
}

.col > div {
	margin: 15px;
	margin-left: 0;
	border: 1px solid #eee;
	border-radius: 10px;
}

.col > div > div {
	padding: 7px;
}

.col.wide > div {
	margin-left: 15px;
}

input[type="text"],input[type="password"] {
	border-radius: 5px;
}

input[type="submit"] {
	
}

label {
	display: block;
}

#nav {
	float: left;
	width: 20%;
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	background: #ddd;
	padding: 5px;
	border-top: 1px solid #fff;
	border-radius: 0 15px 15px 0;
	cursor: pointer;
}

#nav li:hover {
	background: #ccc;
	padding-left: 10px;
}

#main {
	float: left;
	width: 80%;
}

#upcoming-matches td {
	padding-right: 7px;
}

#upcoming-matches td:nth-child(1), #upcoming-matches td:nth-child(2),
#past-matches td:nth-child(1), #past-matches td:nth-child(2) {
	color: #888;
}

#upcoming-matches td:nth-child(3) {
	text-align: right;
}

#past-matches {

}

.clear {
	clear: both;
}

.msg {
	padding: 4px 7px;
	font-weight: bold;
	font-size: 0.9em;
}

.error {
	color: #f33;
	background: #fdd;
	border: 1px solid #f33;
}

.info {
	color: #3f3;
	background: #dfd;
	border: 1px solid #3f3;
}